In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load Data

In [31]:
# Download draft data

df_2007=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2007_draft.csv', header=1)
df_2008=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2008_draft.csv', header=1)
df_2009=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2009_draft.csv', header=1)
df_2010=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2010_draft.csv', header=1)
df_2011=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2011_draft.csv', header=1)
df_2012=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2012_draft.csv', header=1)
df_2013=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2013_draft.csv', header=1)
df_2014=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2014_draft.csv', header=1)
df_2015=pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Draft_Data/2015_draft.csv', header=1)

In [32]:
# Download biographical data

df_2007Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2007_bio.csv', header=None)
df_2008Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2008_bio.csv', header=None)
df_2009Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2009_bio.csv', header=None)
df_2010Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2010_bio.csv', header=None)
df_2011Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2011_bio.csv', header=None)
df_2012Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2012_bio.csv', header=None)
df_2013Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2013_bio.csv', header=None)
df_2014Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2014_bio.csv', header=None)
df_2015Bio=pd.read_csv('~/Desktop/desktop-tutorial/Week_11//Biographical_Data/2015_bio.csv', header=None)

In [33]:
# Take a look at a single draft year dataframe

df_2007.head()

,Overall,Team,Player,Nat.,Pos,Age,To,Amateur Team,GP,G,...,+/-,PIM,GP.1,W,L,T/O,SV%,GAA,PS,-9999
0,1,Chicago Blackhawks,Patrick Kane,US,RW,18.0,2023.0,London Knights (OHL),1126.0,433.0,...,35.0,412.0,NaN,NaN,NaN,NaN,NaN,NaN,134.4,kanepa01
1,2,Philadelphia Flyers,James van Riemsdyk,US,LW,18.0,2023.0,USA U-18 Development Team (USDP/NAHL),885.0,290.0,...,-65.0,352.0,NaN,NaN,NaN,NaN,NaN,NaN,64.2,vanrija01
2,3,Phoenix Coyotes,Kyle Turris,CA,C,18.0,2022.0,Burnaby (BCHL),776.0,168.0,...,-7.0,343.0,NaN,NaN,NaN,NaN,NaN,NaN,42.0,turriky01
3,4,Los Angeles Kings,Thomas Hickey,CA,D,18.0,2022.0,Seattle Thunderbirds (WHL),456.0,22.0,...,37.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,23.8,hicketh01
4,5,Washington Capitals,Karl Alzner,CA,D,18.0,2020.0,Calgary Hitmen (WHL),686.0,20.0,...,54.0,219.0,NaN,NaN,NaN,NaN,NaN,NaN,32.1,alzneka01

In [34]:
# Create full database dataframe

drafts = [df_2007, df_2008, df_2009,
          df_2010, df_2011, df_2012,
          df_2013, df_2014, df_2015]

df_drafts = pd.concat(drafts, axis=0)

In [35]:
# Drop rows beyond last pick

df_2015Bio=df_2015Bio.loc[0:210]

In [36]:
# Drop extra row of forfeited draft pick from Biographical Dataframe

df_2009Bio=df_2009Bio.drop(117)

In [37]:
# Create full database of biographical data

bio = [df_2007Bio, df_2008Bio, df_2009Bio,
       df_2010Bio, df_2011Bio, df_2012Bio,
       df_2013Bio, df_2014Bio, df_2015Bio]

df_bio = pd.concat(bio, axis=0)

In [38]:
# Ensure both Dataframes have the same number of rows

print(df_drafts.shape)
print(df_bio.shape)

(1896, 22)
(1896, 11)

In [39]:
# Reset the index

df_bio.reset_index(inplace=True)
df_drafts.reset_index(inplace=True)

In [40]:
# Place Heights and Weights of draftees inside larger drafted players dataframe

df_drafts['Height'] = df_bio[7]
df_drafts['Weight'] = df_bio[8]

In [41]:
# Separate League from Junior team

df_drafts[['Junior Team', 'League']] = pd.DataFrame(df_drafts['Amateur Team'].str.split('(',1).tolist(),
                                                    columns = ['Team', 'League'])

In [42]:
# Drop the leftover parentheses from the League column

df_drafts['League']=df_drafts['League'].str.replace(')', '')

/var/folders/cl/dg9768bj6ys0prn_4p_bbftw0000gn/T/ipykernel_38639/4090306654.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_drafts['League']=df_drafts['League'].str.replace(')', '')

In [43]:
# Drop the Amateur Team column now that the Junior team and league are separate

df_drafts = df_drafts.drop(['Amateur Team'], axis=1)

In [44]:
# Drop superfluous index column

df_drafts = df_drafts.drop(['index'], axis=1)

In [45]:
# Create draft year finished dataframes

draft_2007 = df_drafts.loc[:210]
draft_2008 = df_drafts.loc[211:421]
draft_2009 = df_drafts.loc[422:631]
draft_2010 = df_drafts.loc[632:841]
draft_2011 = df_drafts.loc[842:1052]
draft_2012 = df_drafts.loc[1053:1263]
draft_2013 = df_drafts.loc[1264:1474]
draft_2014 = df_drafts.loc[1475:1684]
draft_2015 = df_drafts.loc[1685:1895]

In [281]:
%store draft_2008
%store draft_2009
%store draft_2010
%store draft_2011
%store draft_2012
%store draft_2013
%store draft_2014
%store draft_2015

Stored 'draft_2008' (DataFrame)
Stored 'draft_2009' (DataFrame)
Stored 'draft_2010' (DataFrame)
Stored 'draft_2011' (DataFrame)
Stored 'draft_2012' (DataFrame)
Stored 'draft_2013' (DataFrame)
Stored 'draft_2014' (DataFrame)
Stored 'draft_2015' (DataFrame)

In [46]:
draft_2007.League.value_counts()

WHL            37
OHL            35
QMJHL          25
USHL           21
USDP/NAHL      12
Sweden Jr.      8
BCHL            7
Sweden          6
High-CT         5
OPJHL           5
High-MN         5
Russia          4
AJHL            3
WCHA            3
Sweden-2        3
High-MA         3
NAHL            3
Finland Jr.     2
EJHL            2
Russia-3        2
Finland         2
Germany Jr.     2
CCHA            2
Germany         1
Ohio (CCHA      1
Czech Jr.       1
Russia-2        1
Slovakia-2      1
Slovakia        1
WOHL            1
ECAC            1
Czech           1
High-MI         1
DEL             1
T1EHL 18U       1
MWJHL           1
H-East          1
Name: League, dtype: int64

### OHL Stats

In [75]:
# Download 2007 Draft Eligible Data

OHL2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_OHL_DraftStats.csv',header=None)
OHL2007_stats.head()

,0,1,2,3,4,5,6,7,8,9
0,1,Patrick Kane (RW)Chicago Blackhawks,London Knights,58,62,83,145,2.50,52,42
1,2,Sam Gagner (C/RW)Winnipeg Jets,London Knights,53,35,83,118,2.23,36,32
2,3,Brett MacLean (RW),Oshawa Generals,68,47,53,100,1.47,43,9
3,4,Dustin Jeffrey (LW/C),Soo Greyhounds,68,34,58,92,1.35,40,7
4,5,Dale Mitchell (RW),Oshawa Generals,67,43,37,80,1.19,81,3

In [76]:
draft_2007.head()

,Overall,Team,Player,Nat.,Pos,Age,To,GP,G,A,...,L,T/O,SV%,GAA,PS,-9999,Height,Weight,Junior Team,League
0,1,Chicago Blackhawks,Patrick Kane,US,RW,18.0,2023.0,1126.0,433.0,762.0,...,NaN,NaN,NaN,NaN,134.4,kanepa01,5′ 10,178,London Knights,OHL
1,2,Philadelphia Flyers,James van Riemsdyk,US,LW,18.0,2023.0,885.0,290.0,277.0,...,NaN,NaN,NaN,NaN,64.2,vanrija01,6′ 3,200,USA U-18 Development Team,USDP/NAHL
2,3,Phoenix Coyotes,Kyle Turris,CA,C,18.0,2022.0,776.0,168.0,257.0,...,NaN,NaN,NaN,NaN,42.0,turriky01,6′ 1,185,Burnaby,BCHL
3,4,Los Angeles Kings,Thomas Hickey,CA,D,18.0,2022.0,456.0,22.0,95.0,...,NaN,NaN,NaN,NaN,23.8,hicketh01,5′ 11,184,Seattle Thunderbirds,WHL
4,5,Washington Capitals,Karl Alzner,CA,D,18.0,2020.0,686.0,20.0,110.0,...,NaN,NaN,NaN,NaN,32.1,alzneka01,6′ 3,206,Calgary Hitmen,WHL

In [77]:
# Separate skaters from goalies

df_skaters07=draft_2007[draft_2007['Pos'] != 'G']
df_goalies07=draft_2007[draft_2007['Pos'] == 'G']

In [78]:
df_skaters07=df_skaters07[['Overall', 'Team', 'Player', 'Nat.', 'Height', 'Weight', 'Pos', 'Age', 'To', 
                           'Junior Team', 'League', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM']]

df_goalies07=df_goalies07[['Overall', 'Team', 'Player', 'Nat.', 'Height', 'Weight', 'Pos', 'Age', 'To', 
                           'Junior Team', 'League', 'GP.1', 'W', 'L', 'T/O', 'SV%', 'GAA']]

In [79]:
df_skaters07.head()

,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,Junior Team,League,GP,G,A,PTS,+/-,PIM
0,1,Chicago Blackhawks,Patrick Kane,US,5′ 10,178,RW,18.0,2023.0,London Knights,OHL,1126.0,433.0,762.0,1195.0,35.0,412.0
1,2,Philadelphia Flyers,James van Riemsdyk,US,6′ 3,200,LW,18.0,2023.0,USA U-18 Development Team,USDP/NAHL,885.0,290.0,277.0,567.0,-65.0,352.0
2,3,Phoenix Coyotes,Kyle Turris,CA,6′ 1,185,C,18.0,2022.0,Burnaby,BCHL,776.0,168.0,257.0,425.0,-7.0,343.0
3,4,Los Angeles Kings,Thomas Hickey,CA,5′ 11,184,D,18.0,2022.0,Seattle Thunderbirds,WHL,456.0,22.0,95.0,117.0,37.0,190.0
4,5,Washington Capitals,Karl Alzner,CA,6′ 3,206,D,18.0,2020.0,Calgary Hitmen,WHL,686.0,20.0,110.0,130.0,54.0,219.0

In [80]:
# Filter league, sort values by ascending
OHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'OHL']
OHL_2007_skaters = OHL_2007_skaters.sort_values('Player', ascending=True)

In [81]:
# Match sorting, get draft year points
OHL2007_skater_stats=OHL2007_stats.sort_values([1], ascending=True)

In [82]:
OHL2007_skater_stats.head()

,0,1,2,3,4,5,6,7,8,9
18,19,Akim Aliu (RW/D),Sudbury Wolves,53,20,22,42,0.79,104,0
30,31,Anthony Peluso (RW),Erie Otters,52,7,3,10,0.19,176,-33
29,30,Brett Bellemore (D),Plymouth Whalers,50,0,12,12,0.24,50,48
2,3,Brett MacLean (RW),Oshawa Generals,68,47,53,100,1.47,43,9
12,13,Bryan Cameron (C/RW),Belleville Bulls,60,33,25,58,0.97,50,-6

In [86]:
print(OHL_2007_skaters.shape)
OHL_2007_skaters.head()

(33, 17)

,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,Junior Team,League,GP,G,A,PTS,+/-,PIM
55,56,Chicago Blackhawks,Akim Aliu,NG,6′ 4,225,RW,18.0,2013.0,Sudbury Wolves,OHL,7.0,2.0,1.0,3.0,1.0,26.0
159,160,St. Louis Blues,Anthony Peluso,CA,6′ 3,235,RW,18.0,2019.0,Erie Otters,OHL,148.0,4.0,10.0,14.0,-4.0,220.0
161,162,Carolina Hurricanes,Brett Bellemore,CA,6′ 4,205,D,19.0,2015.0,Plymouth Whalers,OHL,121.0,4.0,16.0,20.0,-2.0,79.0
31,32,Phoenix Coyotes,Brett Maclean,CA,6′ 1,200,LW,18.0,2012.0,Oshawa Generals,OHL,18.0,2.0,3.0,5.0,1.0,4.0
81,82,Los Angeles Kings,Bryan Cameron,CA,5′ 11,186,RW,18.0,NaN,Belleville Bulls,OHL,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
print(OHL2007_skater_stats.shape)

(33, 10)

In [87]:
# Reset Index to properly order the rows after alphabetic sorting
OHL_2007_skaters=OHL_2007_skaters.reset_index()

In [93]:
OHL2007_skater_stats=OHL2007_skater_stats.reset_index()

In [94]:
OHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = OHL2007_skater_stats[[3,4,5,6,7,8,9]]

In [111]:
OHL_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,55,56,Chicago Blackhawks,Akim Aliu,NG,6′ 4,225,RW,18.0,2013.0,...,3.0,1.0,26.0,53,20,22,42,0.79,104,0
1,159,160,St. Louis Blues,Anthony Peluso,CA,6′ 3,235,RW,18.0,2019.0,...,14.0,-4.0,220.0,52,7,3,10,0.19,176,-33
2,161,162,Carolina Hurricanes,Brett Bellemore,CA,6′ 4,205,D,19.0,2015.0,...,20.0,-2.0,79.0,50,0,12,12,0.24,50,48
3,31,32,Phoenix Coyotes,Brett Maclean,CA,6′ 1,200,LW,18.0,2012.0,...,5.0,1.0,4.0,68,47,53,100,1.47,43,9
4,81,82,Los Angeles Kings,Bryan Cameron,CA,5′ 11,186,RW,18.0,NaN,...,NaN,NaN,NaN,60,33,25,58,0.97,50,-6

### WHL Stats

In [106]:
WHL2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_WHL_DraftStats.csv',header=None)
WHL2007_stats.head()

,0,1,2,3,4,5,6,7,8,9
0,1,Zach Hamill (C/RW),Everett Silvertips,69,32,61,93,1.35,90,16
1,2,Mitch Fadden (C),Lethbridge Hurricanes,71,36,48,84,1.18,54,9
2,3,Mark Santorelli (RW/LW),Chilliwack Bruins,72,29,53,82,1.14,46,-5
3,4,Oscar Möller (LW),Chilliwack Bruins,68,32,37,69,1.02,50,1
4,5,Brandon Sutter (C/RW),Red Deer Rebels,71,20,37,57,0.80,54,-3

In [107]:
# Filter league, sort values by ascending
WHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'WHL']
WHL_2007_skaters = WHL_2007_skaters.sort_values('Player', ascending=True)

In [108]:
# Match sorting, get draft year points
WHL2007_skater_stats=WHL2007_stats.sort_values([1], ascending=True)

In [109]:
print(WHL_2007_skaters.shape)
print(WHL2007_skater_stats.shape)

(34, 17)
(34, 10)

In [110]:
# Reset Index to properly order the rows after alphabetic sorting
WHL_2007_skaters=WHL_2007_skaters.reset_index()
WHL2007_skater_stats=WHL2007_skater_stats.reset_index()

In [112]:
WHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = WHL2007_skater_stats[[3,4,5,6,7,8,9]]
WHL_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,14,15,Edmonton Oilers,Alex Plante,CA,6′ 4,230,D,18.0,2012.0,...,2.0,-1.0,15.0,58,8,30,38,0.66,81,18
1,10,11,Carolina Hurricanes,Brandon Sutter,US,6′ 3,183,C/RW,18.0,2021.0,...,289.0,-21.0,149.0,71,20,37,57,0.80,54,-3
2,124,125,Washington Capitals,Brett Leffler,CA,6′ 1,198,RW,18.0,NaN,...,NaN,NaN,NaN,69,13,13,26,0.38,114,5
3,84,85,St. Louis Blues,Brett Sonne,CA,6′ 0,201,C/LW,18.0,NaN,...,NaN,NaN,NaN,71,21,9,30,0.42,65,3
4,199,200,Minnesota Wild,Carson McMillan,CA,6′ 1,200,RW,19.0,2014.0,...,5.0,2.0,11.0,72,7,15,22,0.31,76,-1

### QMJHL Stats

In [113]:
QMJHL2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_QMJHL_DraftStats.csv',header=None)
QMJHL2007_stats.head()

,0,1,2,3,4,5,6,7,8,9
0,1,Brett Morrison (C),totals,64,35,55,90,1.41,76,12
1,2,Jakub Voracek (RW)Columbus Blue Jackets,Halifax Mooseheads,59,23,63,86,1.46,26,-7
2,3,David Perron (LW/RW)Detroit Red Wings,Lewiston MAINEiacs,70,39,44,83,1.19,75,37
3,4,Angelo Esposito (C),Québec Remparts,60,27,52,79,1.32,63,9
4,5,Maxim Grachyov (LW),Rimouski Océanic,70,35,42,77,1.10,88,-7

In [114]:
# Filter league, sort values by ascending
QMJHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'QMJHL']
QMJHL_2007_skaters = QMJHL_2007_skaters.sort_values('Player', ascending=True)

In [115]:
# Match sorting, get draft year points
QMJHL2007_skater_stats=QMJHL2007_stats.sort_values([1], ascending=True)

In [116]:
print(QMJHL_2007_skaters.shape)
print(QMJHL2007_skater_stats.shape)

(24, 17)
(24, 10)

In [117]:
# Reset Index to properly order the rows after alphabetic sorting
QMJHL_2007_skaters=QMJHL_2007_skaters.reset_index()
QMJHL2007_skater_stats=QMJHL2007_skater_stats.reset_index()

In [118]:
QMJHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = QMJHL2007_skater_stats[[3,4,5,6,7,8,9]]
QMJHL_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,117,118,Pittsburgh Penguins,Alex Grant,CA,6′ 2,185,D,18.0,2016.0,...,2.0,1.0,9.0,68,12,20,32,0.47,108,-32
1,19,20,Pittsburgh Penguins,Angelo Esposito,CA,6′ 2,190,C,18.0,NaN,...,NaN,NaN,NaN,60,27,52,79,1.32,63,9
2,150,151,Anaheim Ducks,Brett Morrison,CA,5′ 11,192,C,20.0,NaN,...,NaN,NaN,NaN,64,35,55,90,1.41,76,12
3,144,145,Vancouver Canucks,Charles-Antoine Messier,CA,5′ 10,176,C,18.0,NaN,...,NaN,NaN,NaN,69,27,21,48,0.70,67,15
4,163,164,Toronto Maple Leafs,Chris Didomenico,CA,5′ 11,165,C,18.0,2018.0,...,10.0,-4.0,14.0,70,25,50,75,1.07,60,-14

### USHL Stats

In [119]:
USHL2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_USHL_DraftStats.csv',header=None)
USHL2007_stats.head()

,0,1,2,3,4,5,6,7,8,9
0,1,Phil DeSimone (W/C),Sioux City Musketeers,60,26,47,73,1.22,60,13
1,2,Aaron Palushaj (RW/LW),Des Moines Buccaneers,56,22,45,67,1.20,62,5
2,3,Ben Ryan (C),Des Moines Buccaneers,59,22,42,64,1.09,66,-2
3,4,Max Pacioretty (LW)Carolina Hurricanes,Sioux City Musketeers,60,21,42,63,1.05,119,20
4,5,Corey Tropp (RW),Sioux Falls Stampede,54,26,36,62,1.15,76,-3

In [120]:
# Filter league, sort values by ascending
USHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'USHL']
USHL_2007_skaters = USHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
USHL2007_skater_stats=USHL2007_stats.sort_values([1], ascending=True)

(24, 25)
(24, 11)

In [123]:
print(USHL_2007_skaters.shape)
print(USHL2007_skater_stats.shape)

(20, 25)
(20, 11)

In [121]:
# Reset Index to properly order the rows after alphabetic sorting
USHL_2007_skaters=USHL_2007_skaters.reset_index()
USHL2007_skater_stats=USHL2007_skater_stats.reset_index()

USHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = USHL2007_skater_stats[[3,4,5,6,7,8,9]]
USHL_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,43,44,St. Louis Blues,Aaron Palushaj,US,5′ 11,187,RW,18.0,2014.0,...,14.0,-1.0,18.0,56,22,45,67,1.20,62,5
1,141,142,Montreal Canadiens,Andrew Conboy,US,6′ 4,199,LW,19.0,NaN,...,NaN,NaN,NaN,56,25,25,50,0.89,105,17
2,113,114,Nashville Predators,Ben Ryan,US,5′ 11,190,C,18.0,NaN,...,NaN,NaN,NaN,59,22,42,64,1.09,66,-2
3,165,166,New York Islanders,Blake Kessel,US,6′ 2,205,D,18.0,NaN,...,NaN,NaN,NaN,59,11,27,38,0.64,38,12
4,104,105,Colorado Avalanche,Brad Malone,CA,6′ 2,207,C/LW,18.0,2023.0,...,32.0,-32.0,202.0,57,14,19,33,0.58,134,6

### USDP/NAHL Stats

In [122]:
USDP2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_USDP_DraftStats.csv',header=None)
USDP2007_stats.head()

,0,1,2,3,4,5,6,7,8,9
0,1,James van Riemsdyk (LW)Philadelphia Flyers,U.S. National U18 Team,30,20,18,38,1.27,44,-
1,2,Kevin Shattenkirk (D)Anaheim Ducks,U.S. National U18 Team,43,8,19,27,0.63,36,-
2,3,Mike Hoeffel (LW/RW),U.S. National U18 Team,44,16,7,23,0.52,28,-
3,4,John Albert (C),U.S. National U18 Team,32,6,14,20,0.63,10,-
4,5,Cade Fairchild (D),U.S. National U18 Team,36,3,16,19,0.53,34,-

In [124]:
# Filter league, sort values by ascending
USDP_2007_skaters = df_skaters07[df_skaters07['League'] == 'USDP/NAHL']
USDP_2007_skaters = USDP_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
USDP2007_skater_stats=USDP2007_stats.sort_values([1], ascending=True)

print(USDP_2007_skaters.shape)
print(USDP2007_skater_stats.shape)

(11, 17)
(11, 10)

In [125]:
# Reset Index to properly order the rows after alphabetic sorting
USDP_2007_skaters=USDP_2007_skaters.reset_index()
USDP2007_skater_stats=USDP2007_skater_stats.reset_index()

USDP_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = USDP2007_skater_stats[[3,4,5,6,7,8,9]]
USDP_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,185,186,Calgary Flames,C.J. Severyn,US,6′ 0,185,LW,18.0,NaN,...,NaN,NaN,NaN,33,6,7,13,0.39,28,-
1,95,96,St. Louis Blues,Cade Fairchild,US,5′ 11,190,D,18.0,2012.0,...,1.0,-1.0,0.0,36,3,16,19,0.53,34,-
2,17,18,St. Louis Blues,Ian Cole,US,6′ 1,221,D,18.0,2023.0,...,171.0,133.0,632.0,42,6,11,17,0.41,36,-
3,1,2,Philadelphia Flyers,James van Riemsdyk,US,6′ 3,200,LW,18.0,2023.0,...,567.0,-65.0,352.0,30,20,18,38,1.27,44,-
4,125,126,Chicago Blackhawks,Joe Lavin,US,6′ 1,199,D,18.0,NaN,...,NaN,NaN,NaN,23,1,0,1,0.04,18,-

### Sweden Jr. Stats

In [132]:
SWE_JR2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Sweden_Jr_DraftStats.csv',header=None)
SWE_JR2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Carl Hagelin (LW)Washington Capitals,Södertälje SK J20,40,24,31,55,1.38,42,-
1,2,Lars Eller (C)Washington Capitals,Frölunda HC J20,39,18,37,55,1.41,58,22
2,3,Simon Hjalmarsson (LW),Frölunda HC J20,41,31,23,54,1.32,91,-
3,4,Joakim Andersson (C),Frölunda HC J20,41,20,26,46,1.12,60,30
4,6,Jens Hellgren (D),Frölunda HC J20,40,4,6,10,0.25,26,-
5,9,Nichlas Torp (D),HV71 J20,17,3,1,4,0.24,42,-
6,10,William Quist,Tingsryds AIF J20,20,8,15,23,1.15,72,-
7,11,Luca Cunti,GCK Lions U20,13,9,7,16,1.23,22,-

In [133]:
# Filter league, sort values by ascending
SWE_JR_2007_skaters = df_skaters07[df_skaters07['League'] == 'Sweden Jr.']
SWE_JR_2007_skaters = SWE_JR_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
SWE_JR_2007_skater_stats=SWE_JR2007_stats.sort_values([1], ascending=True)

print(SWE_JR_2007_skaters.shape)
print(SWE_JR_2007_skater_stats.shape)

(8, 17)
(8, 10)

In [134]:
# Reset Index to properly order the rows after alphabetic sorting
SWE_JR_2007_skaters=SWE_JR_2007_skaters.reset_index()
SWE_JR_2007_skater_stats=SWE_JR_2007_skater_stats.reset_index()

SWE_JR_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = SWE_JR_2007_skater_stats[[3,4,5,6,7,8,9]]
SWE_JR_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,167,168,New York Rangers,Carl Hagelin,SE,5′ 11,176,LW,19.0,2022.0,...,296.0,119.0,293.0,40,24,31,55,1.38,42,-
1,154,155,Colorado Avalanche,Jens Hellgren,SE,6′ 3,192,D,18.0,NaN,...,NaN,NaN,NaN,40,4,6,10,0.25,26,-
2,87,88,Detroit Red Wings,Joakim Andersson,SE,6′ 2,198,C,18.0,2016.0,...,36.0,-11.0,48.0,41,20,26,46,1.12,60,30
3,12,13,St. Louis Blues,Lars Eller,DK,6′ 2,198,C,18.0,2023.0,...,355.0,-29.0,537.0,39,18,37,55,1.41,58,22
4,74,75,Tampa Bay Lightning,Luca Cunti,CH,6′ 0,190,C,18.0,NaN,...,NaN,NaN,NaN,17,3,1,4,0.24,42,-

### BCHL Stats

In [135]:
BCHL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_BCHL_DraftStats.csv',header=None)
BCHL_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Kyle Turris (C/RW),Burnaby Express,53,66,55,121,2.28,83,-
1,2,Casey Pierro-Zabotel (C),Merritt Centennials,55,51,65,116,2.11,42,-
2,3,Riley Nash (C),Salmon Arm Silverbacks,55,38,46,84,1.53,87,-
3,4,Jamie Benn (LW)Dallas Stars,Victoria Grizzlies,53,42,23,65,1.23,78,-
4,5,Ben Winnett (LW),Salmon Arm Silverbacks,39,27,30,57,1.46,58,-
5,6,Justin Courtnall (LW),totals,58,5,9,14,0.24,83,-
6,7,Corbin McPherson (D),Cowichan Valley Capitals,44,4,10,14,0.32,63,-

In [136]:
# Filter league, sort values by ascending
BCHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'BCHL']
BCHL_2007_skaters = BCHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
BCHL_2007_skater_stats=BCHL_2007_stats.sort_values([1], ascending=True)

print(BCHL_2007_skaters.shape)
print(BCHL_2007_skater_stats.shape)

(7, 17)
(7, 10)

In [137]:
# Reset Index to properly order the rows after alphabetic sorting
BCHL_2007_skaters=BCHL_2007_skaters.reset_index()
BCHL_2007_skater_stats=BCHL_2007_skater_stats.reset_index()

BCHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = BCHL_2007_skater_stats[[3,4,5,6,7,8,9]]
BCHL_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,103,104,Toronto Maple Leafs,Ben Winnett,CA,6′ 0,173,LW,18.0,NaN,...,NaN,NaN,NaN,39,27,30,57,1.46,58,-
1,79,80,Pittsburgh Penguins,Casey Pierro-Zabotel,CA,6′ 1,205,C,18.0,NaN,...,NaN,NaN,NaN,55,51,65,116,2.11,42,-
2,86,87,New Jersey Devils,Corbin McPherson,US,6′ 4,210,D,19.0,NaN,...,NaN,NaN,NaN,44,4,10,14,0.32,63,-
3,128,129,Dallas Stars,Jamie Benn,CA,6′ 2,208,LW,18.0,2023.0,...,791.0,53.0,750.0,53,42,23,65,1.23,78,-
4,209,210,Tampa Bay Lightning,Justin Courtnall,CA,6′ 3,185,LW,18.0,NaN,...,NaN,NaN,NaN,58,5,9,14,0.24,83,-

### Sweden

In [139]:
Sweden_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Sweden_DraftStats.csv',header=None)
Sweden_2007_stats

   0                     1             2   3   4   5   6     7   8  9
0  1      Johan Harju (LW)      Luleå HF  55  12  10  22  0.40  30  8
1  2      Linus Omark (LW)      Luleå HF  50   8   9  17  0.34  32 -1
2  4   Carl Gunnarsson (D)  Linköping HC  30   2   2   4  0.13   8  3
3  6      Johan Alcén (LW)     Brynäs IF  32   0   0   0  0.00   0  1

In [140]:
# Filter league, sort values by ascending
Sweden_2007_skaters = df_skaters07[df_skaters07['League'] == 'Sweden']
Sweden_2007_skaters = Sweden_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Sweden_2007_skater_stats=Sweden_2007_stats.sort_values([1], ascending=True)

print(Sweden_2007_skaters.shape)
print(Sweden_2007_skater_stats.shape)

(4, 17)
(4, 10)

In [141]:
# Reset Index to properly order the rows after alphabetic sorting
Sweden_2007_skaters=Sweden_2007_skaters.reset_index()
Sweden_2007_skater_stats=Sweden_2007_skater_stats.reset_index()

Sweden_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Sweden_2007_skater_stats[[3,4,5,6,7,8,9]]
Sweden_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,193,194,Toronto Maple Leafs,Carl Gunnarsson,SE,6′ 2,196,D,20.0,2021.0,...,138.0,55.0,179.0,30,2,2,4,0.13,8,3
1,194,195,Colorado Avalanche,Johan Alcen,SE,6′ 1,189,RW,19.0,NaN,...,NaN,NaN,NaN,32,0,0,0,0.00,0,1
2,166,167,Tampa Bay Lightning,Johan Harju,SE,6′ 3,210,LW,21.0,2011.0,...,3.0,-2.0,2.0,55,12,10,22,0.40,30,8
3,96,97,Edmonton Oilers,Linus Omark,SE,5′ 10,174,LW,20.0,2014.0,...,32.0,-27.0,40.0,50,8,9,17,0.34,32,-1

### High-CT Stats

In [143]:
USHS_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_USHS_DraftStats.csv',header=None)
USHS_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Nick Bonino (C/LW)San Jose Sharks,Avon Old Farms School,26,24,42,66,2.54,14,-
1,2,Austin Smith (RW),The Gunnery,32,24,39,63,1.97,-,-
2,5,Paul Carey (W/C),Salisbury School,24,16,11,27,1.13,16,-
3,7,Tommy Cross (D),Westminster Prep,25,8,12,20,0.80,20,-
4,9,Drew MacKenzie (D),Taft School,24,3,13,16,0.67,-,-

In [144]:
# Filter league, sort values by ascending
USHS_2007_skaters = df_skaters07[df_skaters07['League'] == 'High-CT']
USHS_2007_skaters = USHS_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
USHS_2007_skater_stats=USHS_2007_stats.sort_values([1], ascending=True)

print(USHS_2007_skaters.shape)
print(USHS_2007_skater_stats.shape)

(5, 17)
(5, 10)

In [145]:
# Reset Index to properly order the rows after alphabetic sorting
USHS_2007_skaters=USHS_2007_skaters.reset_index()
USHS_2007_skater_stats=USHS_2007_skater_stats.reset_index()

USHS_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = USHS_2007_skater_stats[[3,4,5,6,7,8,9]]
USHS_2007_skaters.head()

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,127,128,Dallas Stars,Austin Smith,US,5′ 11,160,RW,18.0,NaN,...,NaN,NaN,NaN,32,24,39,63,1.97,-,-
1,208,209,Buffalo Sabres,Drew Mackenzie,US,6′ 2,200,D,18.0,NaN,...,NaN,NaN,NaN,24,3,13,16,0.67,-,-
2,172,173,San Jose Sharks,Nick Bonino,US,6′ 1,180,C,19.0,2023.0,...,335.0,39.0,223.0,26,24,42,66,2.54,14,-
3,134,135,Colorado Avalanche,Paul Carey,US,6′ 0,175,C,18.0,2020.0,...,16.0,-12.0,20.0,24,16,11,27,1.13,16,-
4,34,35,Boston Bruins,Tommy Cross,US,6′ 3,195,D,18.0,2016.0,...,1.0,-1.0,0.0,25,8,12,20,0.80,20,-

### OPJHL Stats

In [147]:
OJHL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_OJHL_DraftStats.csv',header=None)
OJHL_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,2,Louie Caporusso (C/LW),St. Michael's Buzzers,37,23,27,50,1.35,45,-
1,3,Alain Goulet (D),Aurora Tigers,43,10,32,42,0.98,34,-
2,4,Brendan Smith (D)New Jersey Devils,St. Michael's Buzzers,39,12,24,36,0.92,90,-
3,5,Bryan Rufenach (D),Lindsay Muskies,31,11,21,32,1.03,28,-

In [148]:
# Filter league, sort values by ascending
OJHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'OPJHL']
OJHL_2007_skaters = OJHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
OJHL_2007_skater_stats=OJHL_2007_stats.sort_values([1], ascending=True)

print(OJHL_2007_skaters.shape)
print(OJHL_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
OJHL_2007_skaters=OJHL_2007_skaters.reset_index()
OJHL_2007_skater_stats=OJHL_2007_skater_stats.reset_index()

OJHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = OJHL_2007_skater_stats[[3,4,5,6,7,8,9]]
OJHL_2007_skaters.head()

(4, 17)
(4, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,158,159,Boston Bruins,Alain Goulet,CA,6′ 2,186,D,18.0,NaN,...,NaN,NaN,NaN,43,10,32,42,0.98,34,-
1,26,27,Detroit Red Wings,Brendan Smith,CA,6′ 1,170,D,18.0,2023.0,...,119.0,-8.0,653.0,39,12,24,36,0.92,90,-
2,207,208,Detroit Red Wings,Bryan Rufenach,CA,5′ 11,184,D,18.0,NaN,...,NaN,NaN,NaN,31,11,21,32,1.03,28,-
3,89,90,Ottawa Senators,Louie Caporusso,CA,5′ 9,185,C/LW,18.0,NaN,...,NaN,NaN,NaN,37,23,27,50,1.35,45,-

### High-MN Stats

In [151]:
HighMN_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_High-MN_DraftStats.csv',header=None)
HighMN_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Nico Sacchetti (C),Virginia/Mountain Iron-Buhl High,25,38,52,90,3.60,22,-
1,4,Scott Kishel (D),Virginia/Mountain Iron-Buhl High,25,14,34,48,1.92,-,-
2,8,Joe Stejskal (D),Grand Rapids High,25,14,20,34,1.36,-,-
3,9,Ryan McDonagh (D)Nashville Predators,Cretin-Derham Hall,23,10,23,33,1.44,44,-
4,71,Ben Blood (D),Shattuck St. Mary's 18U Prep,63,11,25,36,0.57,144,-

In [152]:
# Filter league, sort values by ascending
HighMN_2007_skaters = df_skaters07[df_skaters07['League'] == 'High-MN']
HighMN_2007_skaters = HighMN_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
HighMN_2007_skater_stats=HighMN_2007_stats.sort_values([1], ascending=True)

print(HighMN_2007_skaters.shape)
print(HighMN_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
HighMN_2007_skaters=HighMN_2007_skaters.reset_index()
HighMN_2007_skater_stats=HighMN_2007_skater_stats.reset_index()

HighMN_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = HighMN_2007_skater_stats[[3,4,5,6,7,8,9]]
HighMN_2007_skaters.head()

(5, 17)
(5, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,119,120,Ottawa Senators,Ben Blood,US,6′ 3,212,D,18.0,NaN,...,NaN,NaN,NaN,63,11,25,36,0.57,144,-
1,132,133,Montreal Canadiens,Joe Stejskal,US,6′ 2,186,D,19.0,NaN,...,NaN,NaN,NaN,25,14,20,34,1.36,-,-
2,49,50,Dallas Stars,Nico Sacchetti,US,5′ 11,189,C,18.0,NaN,...,NaN,NaN,NaN,25,38,52,90,3.60,22,-
3,11,12,Montreal Canadiens,Ryan McDonagh,US,6′ 1,213,D,18.0,2023.0,...,343.0,218.0,310.0,23,10,23,33,1.44,44,-
4,191,192,Montreal Canadiens,Scott Kishel,US,5′ 11,170,D,18.0,NaN,...,NaN,NaN,NaN,25,14,34,48,1.92,-,-

### Russia Stats

In [154]:
Rus_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Russia_DraftStats.csv',header=None)
Rus_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Alexei Cherepanov (RW),Avangard Omsk,46,18,11,29,0.63,45,14
1,2,Yevgeni Dadonov (RW/LW)Montréal Canadiens,Traktor Chelyabinsk,24,1,1,2,0.08,8,-6
2,3,Sergei Korostin (RW/LW),Dynamo Moskva,7,0,0,0,0.00,8,1
3,4,Maxim Goncharov (D),CSKA Moskva,18,0,0,0,0.00,10,-3

In [155]:
# Filter league, sort values by ascending
Rus_2007_skaters = df_skaters07[df_skaters07['League'] == 'Russia']
Rus_2007_skaters = Rus_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Rus_2007_skater_stats=Rus_2007_stats.sort_values([1], ascending=True)

print(Rus_2007_skaters.shape)
print(Rus_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Rus_2007_skaters=Rus_2007_skaters.reset_index()
Rus_2007_skater_stats=Rus_2007_skater_stats.reset_index()

Rus_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Rus_2007_skater_stats[[3,4,5,6,7,8,9]]
Rus_2007_skaters.head()

(4, 17)
(4, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,16,17,New York Rangers,Alexei Cherepanov,RU,6′ 1,187,RW,18.0,NaN,...,NaN,NaN,NaN,46,18,11,29,0.63,45,14
1,70,71,Florida Panthers,Evgenii Dadonov,RU,5′ 10,178,RW,18.0,2023.0,...,267.0,-20.0,68.0,18,0,0,0,0.00,10,-3
2,122,123,Phoenix Coyotes,Maxim Goncharov,RU,6′ 0,176,D,18.0,NaN,...,NaN,NaN,NaN,7,0,0,0,0.00,8,1
3,63,64,Dallas Stars,Sergei Korostin,RU,5′ 11,180,RW,18.0,NaN,...,NaN,NaN,NaN,24,1,1,2,0.08,8,-6

### AJHL Stats

In [157]:
AJHL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_AJHL_DraftStats.csv',header=None)
AJHL_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Matt Frattin (LW/RW),Fort Saskatchewan Traders,58,49,34,83,1.43,75,-

In [160]:
# Filter league, sort values by ascending
AJHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'AJHL']
AJHL_2007_skaters = AJHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
AJHL_2007_skater_stats=AJHL_2007_stats.sort_values([1], ascending=True)

print(AJHL_2007_skaters.shape)
print(AJHL_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
AJHL_2007_skaters=AJHL_2007_skaters.reset_index()
AJHL_2007_skater_stats=AJHL_2007_skater_stats.reset_index()

AJHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = AJHL_2007_skater_stats[[3,4,5,6,7,8,9]]
AJHL_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,98,99,Toronto Maple Leafs,Matt Frattin,CA,5′ 11,187,RW,19.0,2015.0,...,35.0,-3.0,44.0,58,49,34,83,1.43,75,-

### WCHA Stats

In [161]:
df_skaters07[df_skaters07['League'] == 'WCHA']

,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,Junior Team,League,GP,G,A,PTS,+/-,PIM
28,29,Ottawa Senators,Jim O'Brien,US,6′ 2,200,C,18.0,2018.0,Minnesota,WCHA,77.0,8.0,5.0,13.0,-4.0,16.0
37,38,Chicago Blackhawks,Bill Sweatt,US,6′ 0,190,LW,18.0,2013.0,Colorado College,WCHA,3.0,0.0,0.0,0.0,-1.0,0.0
151,152,Philadelphia Flyers,Jon Kalinski,CA,6′ 1,175,LW,20.0,2010.0,Minnesota State,WCHA,22.0,1.0,4.0,5.0,-4.0,0.0

In [162]:
WCHA_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_WCHA_DraftStats.csv',header=None)
WCHA_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,3,Jon Kalinski (C/LW),Minnesota State Univ. (Mankato),37,17,10,27,0.73,74,5
1,4,Bill Sweatt (LW),Colorado College,30,9,17,26,0.87,18,1
2,6,Jim O'Brien (C/RW),Univ. of Minnesota,43,7,8,15,0.35,51,4

In [163]:
# Filter league, sort values by ascending
WCHA_2007_skaters = df_skaters07[df_skaters07['League'] == 'WCHA']
WCHA_2007_skaters = WCHA_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
WCHA_2007_skater_stats=WCHA_2007_stats.sort_values([1], ascending=True)

print(WCHA_2007_skaters.shape)
print(WCHA_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
WCHA_2007_skaters=WCHA_2007_skaters.reset_index()
WCHA_2007_skater_stats=WCHA_2007_skater_stats.reset_index()

WCHA_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = WCHA_2007_skater_stats[[3,4,5,6,7,8,9]]
WCHA_2007_skaters.head()

(3, 17)
(3, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,37,38,Chicago Blackhawks,Bill Sweatt,US,6′ 0,190,LW,18.0,2013.0,...,0.0,-1.0,0.0,30,9,17,26,0.87,18,1
1,28,29,Ottawa Senators,Jim O'Brien,US,6′ 2,200,C,18.0,2018.0,...,13.0,-4.0,16.0,43,7,8,15,0.35,51,4
2,151,152,Philadelphia Flyers,Jon Kalinski,CA,6′ 1,175,LW,20.0,2010.0,...,5.0,-4.0,0.0,37,17,10,27,0.73,74,5

### Sweden-2 Stats

In [170]:
Swe_2_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Sweden-2_DraftStats.csv',header=None)
Swe_2_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Patrik Zackrisson (C/RW),Rögle BK,29,16,18,34,1.17,28,17
1,3,Mikael Backlund (C)Calgary Flames,VIK Västerås HK,18,1,2,3,0.17,14,1
2,2,Andreas Thuresson,Malmo,19,0,2,2,0.11,10,3

In [171]:
# Filter league, sort values by ascending
Swe_2_2007_skaters = df_skaters07[df_skaters07['League'] == 'Sweden-2']
Swe_2_2007_skaters = Swe_2_2007_skaters.sort_values('Player', ascending=True)

In [182]:
# Match sorting, get draft year points
Swe_2_2007_skater_stats=Swe_2_2007_stats.sort_values([6], ascending=True)

print(Swe_2_2007_skaters.shape)
print(Swe_2_2007_skater_stats.shape)

(3, 18)
(3, 10)

In [184]:
# Reset Index to properly order the rows after alphabetic sorting
Swe_2_2007_skaters=Swe_2_2007_skaters.reset_index()
Swe_2_2007_skater_stats=Swe_2_2007_skater_stats.reset_index()

In [186]:
Swe_2_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Swe_2_2007_skater_stats[[3,4,5,6,7,8,9]]
Swe_2_2007_skaters.head()

,level_0,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,0,143,144,Nashville Predators,Andreas Thuresson,SE,6′ 1,212,C,19.0,...,3.0,-6.0,6.0,19,0,2,2,0.11,10,3
1,1,23,24,Calgary Flames,Mikael Backlund,SE,6′ 0,196,C,18.0,...,445.0,45.0,405.0,18,1,2,3,0.17,14,1
2,2,164,165,San Jose Sharks,Patrik Zackrisson,SE,5′ 11,190,RW,20.0,...,NaN,NaN,NaN,29,16,18,34,1.17,28,17

### High-MA Stats

In [188]:
HighMA_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_High-MA_DraftStats.csv',header=None)
HighMA_2007_stats

   0                   1                         2   3   4   5   6     7  8  9
0  4   Alex Killorn (LW)         Deerfield Academy  25  18  14  32  1.28  -  -
1  6   Matt Marshall (F)  Noble & Greenough School  27  14  10  24  0.89  8  -
2  8   Andrew Glass (LW)  Noble & Greenough School  18   7  10  17  0.94  -  -

In [189]:
# Filter league, sort values by ascending
HighMA_2007_skaters = df_skaters07[df_skaters07['League'] == 'High-MA']
HighMA_2007_skaters = HighMA_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
HighMA_2007_skater_stats=HighMA_2007_stats.sort_values([1], ascending=True)

print(HighMA_2007_skaters.shape)
print(HighMA_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
HighMA_2007_skaters=HighMA_2007_skaters.reset_index()
HighMA_2007_skater_stats=HighMA_2007_skater_stats.reset_index()

HighMA_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = HighMA_2007_skater_stats[[3,4,5,6,7,8,9]]
HighMA_2007_skaters.head()

(3, 17)
(3, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,76,77,Tampa Bay Lightning,Alex Killorn,CA,6′ 0,161,C,18.0,2023.0,...,417.0,85.0,440.0,25,18,14,32,1.28,-,-
1,198,199,Washington Capitals,Andrew Glass,US,5′ 11,180,LW,18.0,NaN,...,NaN,NaN,NaN,18,7,10,17,0.94,-,-
2,149,150,Tampa Bay Lightning,Matt Marshall,US,6′ 1,175,C/RW,19.0,NaN,...,NaN,NaN,NaN,27,14,10,24,0.89,8,-

### NAHL Stats

In [191]:
NAHL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_NAHL_DraftStats.csv',header=None)
NAHL_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Pat Maroon (LW),St. Louis Bandits,57,40,55,95,1.67,152,-
1,2,Trent Vogelhuber (RW/LW),St. Louis Bandits,31,10,16,26,0.84,24,-

In [192]:
# Filter league, sort values by ascending
NAHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'NAHL']
NAHL_2007_skaters = NAHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
NAHL_2007_skater_stats=NAHL_2007_stats.sort_values([1], ascending=True)

print(NAHL_2007_skaters.shape)
print(NAHL_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
NAHL_2007_skaters=NAHL_2007_skaters.reset_index()
NAHL_2007_skater_stats=NAHL_2007_skater_stats.reset_index()

NAHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = NAHL_2007_skater_stats[[3,4,5,6,7,8,9]]
NAHL_2007_skaters.head()

(2, 17)
(2, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,160,161,Philadelphia Flyers,Patrick Maroon,US,6′ 4,225,LW,19.0,2023.0,...,278.0,32.0,820.0,57,40,55,95,1.67,152,-
1,210,211,Columbus Blue Jackets,Trent Vogelhuber,US,6′ 2,185,RW,NaN,NaN,...,NaN,NaN,NaN,31,10,16,26,0.84,24,-

### Finland Jr. Stats

In [194]:
Fin_Jr_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Finland_Jr_DraftStats.csv',header=None)
Fin_Jr_2007_stats

   0                   1            2   3  4   5   6     7   8   9
0  2   Harri Ilvonen (D)  Tappara U20  39  9  21  30  0.77  38  12

In [195]:
# Filter league, sort values by ascending
Fin_Jr_2007_skaters = df_skaters07[df_skaters07['League'] == 'Finland Jr.']
Fin_Jr_2007_skaters = Fin_Jr_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Fin_Jr_2007_skater_stats=Fin_Jr_2007_stats.sort_values([1], ascending=True)

print(Fin_Jr_2007_skaters.shape)
print(Fin_Jr_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Fin_Jr_2007_skaters=Fin_Jr_2007_skaters.reset_index()
Fin_Jr_2007_skater_stats=Fin_Jr_2007_skater_stats.reset_index()

Fin_Jr_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Fin_Jr_2007_skater_stats[[3,4,5,6,7,8,9]]
Fin_Jr_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,169,170,Minnesota Wild,Harri Ilvonen,FI,6′ 2,187,D,18.0,NaN,...,NaN,NaN,NaN,39,9,21,30,0.77,38,12

### Russia-3 Stats

In [198]:
Rus3_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Russia-3_DraftStats.csv',header=None)
Rus3_2007_stats

   0                   1              2   3   4   5   6     7   8  9
0  2   Ilya Kablukov (C)  CSKA Moskva-2  42  10  25  35  0.83  38  -

In [199]:
# Filter league, sort values by ascending
Rus3_2007_skaters = df_skaters07[df_skaters07['League'] == 'Russia-3']
Rus3_2007_skaters = Rus3_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Rus3_2007_skater_stats=Rus3_2007_stats.sort_values([1], ascending=True)

print(Rus3_2007_skaters.shape)
print(Rus3_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Rus3_2007_skaters=Rus3_2007_skaters.reset_index()
Rus3_2007_skater_stats=Rus3_2007_skater_stats.reset_index()

Rus3_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Rus3_2007_skater_stats[[3,4,5,6,7,8,9]]
Rus3_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,145,146,Vancouver Canucks,Ilja Kablukov,RU,6′ 2,183,C,19.0,NaN,...,NaN,NaN,NaN,42,10,25,35,0.83,38,-

### Finland Stats

In [201]:
Fin_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Finland_DraftStats.csv',header=None)
Fin_2007_stats

   0                       1         2  3  4  5  6     7  8  9
0  1       Vili Sopanen (RW)  Pelicans  7  1  0  1  0.14  0  0
1  2   Niclas Lucenius (C/W)   Tappara  5  0  0  0  0.00  0  0

In [202]:
# Filter league, sort values by ascending
Fin_2007_skaters = df_skaters07[df_skaters07['League'] == 'Finland']
Fin_2007_skaters = Fin_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Fin_2007_skater_stats=Fin_2007_stats.sort_values([1], ascending=True)

print(Fin_2007_skaters.shape)
print(Fin_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Fin_2007_skaters=Fin_2007_skaters.reset_index()
Fin_2007_skater_stats=Fin_2007_skater_stats.reset_index()

Fin_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Fin_2007_skater_stats[[3,4,5,6,7,8,9]]
Fin_2007_skaters.head()

(2, 17)
(2, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,114,115,Atlanta Thrashers,Niclas Lucenius,FI,6′ 0,189,C,18.0,NaN,...,NaN,NaN,NaN,5,0,0,0,0.00,0,0
1,176,177,New Jersey Devils,Vili Sopanen,FI,6′ 4,209,RW,19.0,NaN,...,NaN,NaN,NaN,7,1,0,1,0.14,0,0

### CCHA Stats

In [214]:
CCHA_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_CCHA_DraftStats.csv',header=None)
CCHA_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,1,Ryan Thang (RW/LW),Univ. of Notre Dame,42,20,21,41,0.98,22,22
1,8,Steven Kampfer (D)Detroit Red Wings,Univ. of Michigan,35,1,3,4,0.11,24,3

In [215]:
# Filter league, sort values by ascending
CCHA_2007_skaters = df_skaters07[df_skaters07['League'] == 'CCHA']
CCHA_2007_skaters = CCHA_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
CCHA_2007_skater_stats=CCHA_2007_stats.sort_values([1], ascending=True)

print(CCHA_2007_skaters.shape)
print(CCHA_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
CCHA_2007_skaters=CCHA_2007_skaters.reset_index()
CCHA_2007_skater_stats=CCHA_2007_skater_stats.reset_index()

CCHA_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = CCHA_2007_skater_stats[[3,4,5,6,7,8,9]]
CCHA_2007_skaters.head()

(2, 17)
(2, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,80,81,Nashville Predators,Ryan Thang,US,5′ 11,189,LW,20.0,2012.0,...,0.0,0.0,0.0,42,20,21,41,0.98,22,22
1,92,93,Anaheim Ducks,Steven Kampfer,US,5′ 11,197,D,18.0,2021.0,...,39.0,-1.0,110.0,35,1,3,4,0.11,24,3

### Ohio Stats

In [219]:
Ohio_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Ohio_DraftStats.csv',header=None)
Ohio_2007_stats

,0,1,2,3,4,5,6,7,8,9
0,5,Alec Martinez (D)Vegas Golden Knights,Miami Univ. (Ohio),42,9,15,24,0.57,40,-3

In [222]:
# Filter league, sort values by ascending
Ohio_2007_skaters = df_skaters07[df_skaters07['League'] == 'Ohio (CCHA']
Ohio_2007_skaters = Ohio_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Ohio_2007_skater_stats=Ohio_2007_stats.sort_values([1], ascending=True)

print(Ohio_2007_skaters.shape)
print(Ohio_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Ohio_2007_skaters=Ohio_2007_skaters.reset_index()
Ohio_2007_skater_stats=Ohio_2007_skater_stats.reset_index()

Ohio_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Ohio_2007_skater_stats[[3,4,5,6,7,8,9]]
Ohio_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,94,95,Los Angeles Kings,Alec Martinez,US,6′ 0,205,D,20.0,2023.0,...,250.0,71.0,215.0,42,9,15,24,0.57,40,-3

### Czech Jr. Stats

In [232]:
Czech_Jr_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Czech_Jr_DraftStats.csv',header=None)
Czech_Jr_2007_stats

   0                      1                    2   3   4   5   6     7   8   9
0  1   Vladimir Ruzicka (C)  HC Slavia Praha U20  37  24  34  58  1.57  54  15

In [233]:
# Filter league, sort values by ascending
Czech_Jr_2007_skaters = df_skaters07[df_skaters07['League'] == 'Czech Jr.']
Czech_Jr_2007_skaters = Czech_Jr_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Czech_Jr_2007_skater_stats=Czech_Jr_2007_stats.sort_values([1], ascending=True)

print(Czech_Jr_2007_skaters.shape)
print(Czech_Jr_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Czech_Jr_2007_skaters=Czech_Jr_2007_skaters.reset_index()
Czech_Jr_2007_skater_stats=Czech_Jr_2007_skater_stats.reset_index()

Czech_Jr_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Czech_Jr_2007_skater_stats[[3,4,5,6,7,8,9]]
Czech_Jr_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,102,103,Phoenix Coyotes,Vladimir Ruzicka,CZ,6′ 1,196,C,18.0,NaN,...,NaN,NaN,NaN,37,24,34,58,1.57,54,15

### Russia-2 Stats

In [236]:
Rus_2_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Russia-2_DraftStats.csv',header=None)
Rus_2_2007_stats

   0                       1       2   3  4  5   6     7  8  9
0  1   Maxim Mayorov (LW/RW)  totals  34  7  5  12  0.35  6 -6

In [237]:
# Filter league, sort values by ascending
Rus_2_2007_skaters = df_skaters07[df_skaters07['League'] == 'Russia-2']
Rus_2_2007_skaters = Rus_2_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Rus_2_2007_skater_stats=Rus_2_2007_stats.sort_values([1], ascending=True)

print(Rus_2_2007_skaters.shape)
print(Rus_2_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Rus_2_2007_skaters=Rus_2_2007_skaters.reset_index()
Rus_2_2007_skater_stats=Rus_2_2007_skater_stats.reset_index()

Rus_2_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Rus_2_2007_skater_stats[[3,4,5,6,7,8,9]]
Rus_2_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,93,94,Columbus Blue Jackets,Maksim Mayorov,RU,6′ 2,187,LW,18.0,2012.0,...,3.0,-4.0,2.0,34,7,5,12,0.35,6,-6

### Slovakia-2 Stats

In [239]:
Slo_2_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Slovakia-2_DraftStats.csv',header=None)
Slo_2_2007_stats

   0                  1             2   3  4  5   6    7   8  9
0  1   Milan Kytnár (C)  HC Topolcany  22  4  7  11  0.5  53  -

In [240]:
# Filter league, sort values by ascending
Slo_2_2007_skaters = df_skaters07[df_skaters07['League'] == 'Slovakia-2']
Slo_2_2007_skaters = Slo_2_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Slo_2_2007_skater_stats=Slo_2_2007_stats.sort_values([1], ascending=True)

print(Slo_2_2007_skaters.shape)
print(Slo_2_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Slo_2_2007_skaters=Slo_2_2007_skaters.reset_index()
Slo_2_2007_skater_stats=Slo_2_2007_skater_stats.reset_index()

Slo_2_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Slo_2_2007_skater_stats[[3,4,5,6,7,8,9]]
Slo_2_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,126,127,Edmonton Oilers,Milan Kytnar,SK,6′ 0,190,C,18.0,2012.0,...,0.0,0.0,0.0,22,4,7,11,0.5,53,-

### Slovakia Stats

In [242]:
Slo_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Slovakia_DraftStats.csv',header=None)
Slo_2007_stats

   0                 1                 2   3  4  5  6  7  8  9
0  1   Juraj Mikus (D)  HK Dukla Trencin  22  0  0  0  0  2 -2

In [243]:
# Filter league, sort values by ascending
Slo_2007_skaters = df_skaters07[df_skaters07['League'] == 'Slovakia']
Slo_2007_skaters = Slo_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Slo_2007_skater_stats=Slo_2007_stats.sort_values([1], ascending=True)

print(Slo_2007_skaters.shape)
print(Slo_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Slo_2007_skaters=Slo_2007_skaters.reset_index()
Slo_2007_skater_stats=Slo_2007_skater_stats.reset_index()

Slo_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Slo_2007_skater_stats[[3,4,5,6,7,8,9]]
Slo_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,133,134,Toronto Maple Leafs,Juraj Mikus,SK,6′ 4,185,D,18.0,NaN,...,NaN,NaN,NaN,22,0,0,0,0,2,-2

### WOHL Stats

In [245]:
WOHL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_WOHL_DraftStats.csv',header=None)
WOHL_2007_stats

   0                  1                  2   3   4   5   6     7   8  9
0  1   Max Campbell (C)  Strathroy Rockets  46  46  49  95  2.07  84  -

In [246]:
# Filter league, sort values by ascending
WOHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'WOHL']
WOHL_2007_skaters = WOHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
WOHL_2007_skater_stats=WOHL_2007_stats.sort_values([1], ascending=True)

print(WOHL_2007_skaters.shape)
print(WOHL_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
WOHL_2007_skaters=WOHL_2007_skaters.reset_index()
WOHL_2007_skater_stats=WOHL_2007_skater_stats.reset_index()

WOHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = WOHL_2007_skater_stats[[3,4,5,6,7,8,9]]
WOHL_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,137,138,New York Rangers,Max Campbell,CA,6′ 1,185,C,18.0,NaN,...,NaN,NaN,NaN,46,46,49,95,2.07,84,-

### ECAC Stats

In [248]:
ECAC_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_ECAC_DraftStats.csv',header=None)
ECAC_2007_stats

   0                      1                  2   3   4   5   6     7   8   9
0  2   T.J. Galiardi (C/LW)  Dartmouth College  33  14  17  31  0.94  30  15

In [249]:
# Filter league, sort values by ascending
ECAC_2007_skaters = df_skaters07[df_skaters07['League'] == 'ECAC']
ECAC_2007_skaters = ECAC_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
ECAC_2007_skater_stats=ECAC_2007_stats.sort_values([1], ascending=True)

print(ECAC_2007_skaters.shape)
print(ECAC_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
ECAC_2007_skaters=ECAC_2007_skaters.reset_index()
ECAC_2007_skater_stats=ECAC_2007_skater_stats.reset_index()

ECAC_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = ECAC_2007_skater_stats[[3,4,5,6,7,8,9]]
ECAC_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,54,55,Colorado Avalanche,T.J. Galiardi,CA,6′ 2,190,LW,19.0,2015.0,...,105.0,-32.0,136.0,33,14,17,31,0.94,30,15

### Czech Stats

In [251]:
Czech_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_Czech_DraftStats.csv',header=None)
Czech_2007_stats

   0                   1                   2   3  4  5  6     7   8   9
0  1   Radim Ostrcil (D)  Vsetínská hokejová  37  1  1  2  0.05  20 -18

In [252]:
# Filter league, sort values by ascending
Czech_2007_skaters = df_skaters07[df_skaters07['League'] == 'Czech']
Czech_2007_skaters = Czech_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
Czech_2007_skater_stats=Czech_2007_stats.sort_values([1], ascending=True)

print(Czech_2007_skaters.shape)
print(Czech_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
Czech_2007_skaters=Czech_2007_skaters.reset_index()
Czech_2007_skater_stats=Czech_2007_skater_stats.reset_index()

Czech_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = Czech_2007_skater_stats[[3,4,5,6,7,8,9]]
Czech_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,168,169,Boston Bruins,Radim Ostrcil,CZ,5′ 11,194,D,18.0,NaN,...,NaN,NaN,NaN,37,1,1,2,0.05,20,-18

### High-Mi Stats

In [255]:
HighMi_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_High-MI_DraftStats.csv',header=None)
HighMi_2007_stats

   0                1             2   3   4   5   6     7    8  9
0  1   Will Weber (D)  Gaylord High  25  18  20  38  1.52  104  -

In [256]:
# Filter league, sort values by ascending
HighMi_2007_skaters = df_skaters07[df_skaters07['League'] == 'High-MI']
HighMi_2007_skaters = HighMi_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
HighMi_2007_skater_stats=HighMi_2007_stats.sort_values([1], ascending=True)

print(HighMi_2007_skaters.shape)
print(HighMi_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
HighMi_2007_skaters=HighMi_2007_skaters.reset_index()
HighMi_2007_skater_stats=HighMi_2007_skater_stats.reset_index()

HighMi_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = HighMi_2007_skater_stats[[3,4,5,6,7,8,9]]
HighMi_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,52,53,Columbus Blue Jackets,Will Weber,US,6′ 4,205,D,18.0,NaN,...,NaN,NaN,NaN,25,18,20,38,1.52,104,-

### DEL Stats

In [258]:
DEL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_DEL_DraftStats.csv',header=None)
DEL_2007_stats

   0                     1                2   3  4   5   6     7   8  9
0  1   Robert Dietrich (D)  DEG Metro Stars  52  3  19  22  0.42  28  8

In [259]:
# Filter league, sort values by ascending
DEL_2007_skaters = df_skaters07[df_skaters07['League'] == 'DEL']
DEL_2007_skaters = DEL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
DEL_2007_skater_stats=DEL_2007_stats.sort_values([1], ascending=True)

print(DEL_2007_skaters.shape)
print(DEL_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
DEL_2007_skaters=DEL_2007_skaters.reset_index()
DEL_2007_skater_stats=DEL_2007_skater_stats.reset_index()

DEL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = DEL_2007_skater_stats[[3,4,5,6,7,8,9]]
DEL_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,173,174,Nashville Predators,Robert Dietrich,DE,5′ 10,178,D,21.0,NaN,...,NaN,NaN,NaN,52,3,19,22,0.42,28,8

### T1EHL 18U Stats

In [261]:
T1EHL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_T1EHL_DraftStats.csv',header=None)
T1EHL_2007_stats

   0                 1                  2   3  4   5   6     7   8  9
0  1   Trevor Nill (C)  Compuware 18U AAA  24  6  10  16  0.67  23  -

In [262]:
# Filter league, sort values by ascending
T1EHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'T1EHL 18U']
T1EHL_2007_skaters = T1EHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
T1EHL_2007_skater_stats=T1EHL_2007_stats.sort_values([1], ascending=True)

print(T1EHL_2007_skaters.shape)
print(T1EHL_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
T1EHL_2007_skaters=T1EHL_2007_skaters.reset_index()
T1EHL_2007_skater_stats=T1EHL_2007_skater_stats.reset_index()

T1EHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = T1EHL_2007_skater_stats[[3,4,5,6,7,8,9]]
T1EHL_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,189,190,St. Louis Blues,Trevor Nill,US,6′ 3,195,C,18.0,NaN,...,NaN,NaN,NaN,24,6,10,16,0.67,23,-

### MWJHL Stats

In [264]:
MWJHL_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_MWJHL_DraftStats.csv',header=None)
MWJHL_2007_stats

   0                  1                       2   3   4   5   6     7   8  9
0  1   Ryan Watson (LW)  Cambridge Winter Hawks  37  27  29  56  1.51  55  -

In [265]:
# Filter league, sort values by ascending
MWJHL_2007_skaters = df_skaters07[df_skaters07['League'] == 'MWJHL']
MWJHL_2007_skaters = MWJHL_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
MWJHL_2007_skater_stats=MWJHL_2007_stats.sort_values([1], ascending=True)

print(MWJHL_2007_skaters.shape)
print(MWJHL_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
MWJHL_2007_skaters=MWJHL_2007_skaters.reset_index()
MWJHL_2007_skater_stats=MWJHL_2007_skater_stats.reset_index()

MWJHL_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = MWJHL_2007_skater_stats[[3,4,5,6,7,8,9]]
MWJHL_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,190,191,Florida Panthers,Ryan Watson,CA,6′ 1,175,LW,19.0,NaN,...,NaN,NaN,NaN,37,27,29,56,1.51,55,-

### H-East Stats

In [266]:
df_skaters07[df_skaters07['League'] == 'H-East']

,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,Junior Team,League,GP,G,A,PTS,+/-,PIM
200,201,San Jose Sharks,Justin Braun,US,6′ 1,205,D,20.0,2023.0,Massachusetts,H-East,810.0,34.0,163.0,197.0,24.0,313.0

In [267]:
HEast_2007_stats = pd.read_csv('~/Desktop/desktop-tutorial/Week_11/Pre-draft_Data/2007_Data/2007_H-East-DraftStats.csv',header=None)
HEast_2007_stats

   0                                     1      2   3  4   5   6     7   8  9
0  7   Justin Braun (D)Philadelphia Flyers  UMass  39  4  10  14  0.36  20  4

In [268]:
# Filter league, sort values by ascending
HEast_2007_skaters = df_skaters07[df_skaters07['League'] == 'H-East']
HEast_2007_skaters = HEast_2007_skaters.sort_values('Player', ascending=True)

# Match sorting, get draft year points
HEast_2007_skater_stats=HEast_2007_stats.sort_values([1], ascending=True)

print(HEast_2007_skaters.shape)
print(HEast_2007_skater_stats.shape)

# Reset Index to properly order the rows after alphabetic sorting
HEast_2007_skaters=HEast_2007_skaters.reset_index()
HEast_2007_skater_stats=HEast_2007_skater_stats.reset_index()

HEast_2007_skaters[['D0_GP', 'D0_G', 'D0_A', 'D0_TP', 'D0_P/G', 'D0_PIM', 'D0_+/-']] = HEast_2007_skater_stats[[3,4,5,6,7,8,9]]
HEast_2007_skaters.head()

(1, 17)
(1, 10)

,index,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,...,PTS,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-
0,200,201,San Jose Sharks,Justin Braun,US,6′ 1,205,D,20.0,2023.0,...,197.0,24.0,313.0,39,4,10,14,0.36,20,4

## Concatenate All league DFs

In [271]:
DFs = [OHL_2007_skaters, WHL_2007_skaters, QMJHL_2007_skaters,
       USHL_2007_skaters, USDP_2007_skaters, SWE_JR_2007_skaters,
       BCHL_2007_skaters, Sweden_2007_skaters, USHS_2007_skaters,
       OJHL_2007_skaters, HighMN_2007_skaters, Rus_2007_skaters,
       AJHL_2007_skaters, WCHA_2007_skaters, Swe_2_2007_skaters,
       HighMA_2007_skaters, NAHL_2007_skaters, Fin_Jr_2007_skaters,
       Rus3_2007_skaters, Fin_2007_skaters, CCHA_2007_skaters,
       Ohio_2007_skaters, Czech_Jr_2007_skaters, Rus_2_2007_skaters,
       Slo_2_2007_skaters, Slo_2007_skaters, WOHL_2007_skaters,
       ECAC_2007_skaters, Czech_2007_skaters, HighMi_2007_skaters,
       DEL_2007_skaters, T1EHL_2007_skaters, MWJHL_2007_skaters,
       HEast_2007_skaters]

Point_df = pd.concat(DFs, axis=0)

In [278]:
Point_df=Point_df.drop(['index'], axis=1)
Point_df=Point_df.sort_values('Overall', ascending=True)

In [280]:
%store Point_df

Stored 'Point_df' (DataFrame)

In [282]:
Point_df.head()

,Overall,Team,Player,Nat.,Height,Weight,Pos,Age,To,Junior Team,...,+/-,PIM,D0_GP,D0_G,D0_A,D0_TP,D0_P/G,D0_PIM,D0_+/-,level_0
25,1,Chicago Blackhawks,Patrick Kane,US,5′ 10,178,RW,18.0,2023.0,London Knights,...,35.0,412.0,58,62,83,145,2.50,52,42,NaN
3,2,Philadelphia Flyers,James van Riemsdyk,US,6′ 3,200,LW,18.0,2023.0,USA U-18 Development Team,...,-65.0,352.0,30,20,18,38,1.27,44,-,NaN
5,3,Phoenix Coyotes,Kyle Turris,CA,6′ 1,185,C,18.0,2022.0,Burnaby,...,-7.0,343.0,53,66,55,121,2.28,83,-,NaN
32,4,Los Angeles Kings,Thomas Hickey,CA,5′ 11,184,D,18.0,2022.0,Seattle Thunderbirds,...,37.0,190.0,68,9,41,50,0.74,70,15,NaN
19,5,Washington Capitals,Karl Alzner,CA,6′ 3,206,D,18.0,2020.0,Calgary Hitmen,...,54.0,219.0,63,8,39,47,0.75,32,16,NaN